# Flutter
flutter_frontend/build/
flutter_frontend/.dart_tool/
flutter_frontend/pubspec.lock
flutter_frontend/android/.gradle/
flutter_frontend/android/local.properties

# Python
__pycache__/
*.py[cod]
.Python
venv/
env/
*.egg-info/
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local files
local.properties
